extends ../index
block title
    <?php
    |   //Template Name: About
    |?>

block content
    .barba-container.page-about.e-wp(data-barba="container", data-barba-namespace="about", data-scroll-content)

        header.e-wvw.e-hvh.e-flex-col
            h1.e-serif.e-upper Our Initiatives (title)
            h1.t-italic Our Initiatives (italic)
            h1.t-regular Our Initiatives (regular)
            h1.t-bold Our Initiatives (bold)
            h1.e-sans Our Initiatives (standard)
                


        .e-wvw.e-flex-col.e-hvh
            img(src="https://unsplash.it/1920", alt="").img-load.e-wp.e-hp
        .e-wvw.e-flex-col.e-hvh.e-flex
            a(href!='<?php echo get_site_url(); ?>/') 
                h1.t-regular Go to Home




        <?php include 'includes/myfooter.php'; ?>

