extends ../index
block title
    <?php
    |   //Template Name: Home
    |?>

block content
    .barba-container.page-home.e-wp(data-barba="container", data-barba-namespace="home", data-scroll-content)

        header.e-wvw.e-hvh.e-flex-col
            
            h1.e-sans SOTD
            h1.t-medium SOTD
            h1.e-serif SOTD
            h1.t-bold SOTD


        .e-wvw.e-flex-col.e-hvh
            img(src="https://unsplash.it/1921", alt="").img-load.e-wp.e-hp
        .e-wvw.e-flex-col.e-hvh.e-flex
            a(href!='<?php echo get_site_url(); ?>/about') 
                h1.t-regular Go to about


        <?php include 'includes/myfooter.php'; ?>

